In [1]:
import numpy as np
import pandas as pd

In [4]:
cities = pd.DataFrame({"name": ["A", "B", "C", "D"],
                       "visitors": [110, 235, 185, 50],
                       "population": [230, 50, 850, 350],
                       "state": ["X", "Y", "Z", "W"],
                       "type": ["M", "N", "O", "P"]})

In [5]:
cities

  name  population state type  visitors
0    A         230     X    M       110
1    B          50     Y    N       235
2    C         850     Z    O       185
3    D         350     W    P        50

### Chained indexed used for assignment

In [7]:
cities[cities["visitors"] > 150]["type"] = "M"

/Users/Zireimac/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Best

In [8]:
cities.loc[cities["visitors"] > 150, "type"] = "M"

In [9]:
cities

  name  population state type  visitors
0    A         230     X    M       110
1    B          50     Y    M       235
2    C         850     Z    M       185
3    D         350     W    P        50